# Ignore . file by default
.*

!.gitignore

# ignore node_modules
node_modules/
# for now, we ignore this new node.js package file.
package-lock.json

dist/
*.tgz

# generated ts code
demo/src/_codes.ts

# prevent the .map
*.map