# -- Base
# optional: Best pratice is to ignore any path starting with . by default
.*
!.gitignore

_*
!**/src/**/_*

**/web-content/js/*
**/web-content/css/*

# -- AIPack
# By default, ignore all paths starting with .aipack
.aipack
# And all .aipack package files
*.aipack

# -- Dev default
tmp/
dist/
out/
*.lock
*.lockb
*.log

# -- Nodejs
node_modules/
package-lock.json
!.mocharc.yaml
report.*.json

# -- Python
__pycache__/
*.py[cod]
*py.class

# -- Rust
target/
# !Cargo.lock # commented by default
!.cargo/

# -- Safety net
cdk.out/
*.exe

# Doc Files
*.pdf
*.docx
*.xlsx
*.pptx
*.doc
*.xls
*.ppt
*.page

# Data Files
*.db3
*.sqlite3
*.sqlite
*.s3db
*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz
*.vsix
*.mdb

# Videos
*.mov
*.mp4
*.webm
*.ogg
*.avi

# Audio
*.mp3
*.wav
*.flac

# Images
*.icns
*.ico
*.jpeg
*.jpg
*.png
*.bmp
*.eps
*.ai

# -- others
# Allows .env (make sure only dev info)
# !.env # Commented by default

# Allow vscode
# !.vscode # Commented by default
