html {
  height: 100%;
}

body {
  margin: 0;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.test-output {
  border-right: solid 1px #ddd;
  width: 400px;
  margin-right: 8px;
}

.test-output h1 {
  font-size: 24px;
}

.test-output li {
  font-family: courier;
  font-size: 13px;
}

.test-output li label {
  font-weight: 700;
}

.test-output li .result {
  display: inline-block;
  margin-left: .5rem;
}

.test-output li.fail {
  color: red;
}

.test-content {
  flex-grow: 1;
}

.rect {
  display: block;
  padding: 0 16px;
  margin: 8px;
  border: solid 1px #ddd;
  width: 200px;
  min-height: 32px;
  font-size: 12px;
  color: #888;
  cursor: pointer;
}

.rect.sm {
  width: 100px;
}

button,
.but {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  letter-spacing: .1em;
  background-color: #fff;
  border: solid 1px #999;
  border-radius: 3px;
}

.test-content-position {
  margin: 8rem;
  padding: 5rem;
  display: grid;
  height: 25rem;
  grid-template-columns: repeat(auto-fill, 25rem);
  background: #1E1E1E;

}


.pos-ctn {
  display: block;
  border: solid 1px red;
  background: rgb(255, 208, 208);
  width: 15rem;
  height: 15rem;
}

.pos-el {
  position: absolute;
  width: 3rem;
  height: 3rem;
  z-index: 100;
  background: rgb(180, 235, 252);
  display: grid;
  align-items: center;
  justify-content: center;
}

.pos-dot {
  position: absolute;
  width: .5rem;
  height: .5rem;
  display: block;
  background: rgb(255, 208, 208, .8);
  border: solid 1px red;
  border-radius: 1rem;
}

.pos-label {
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
}