
@import './d-base.css';
@import './d-var-colors.css';
@import './d-var-elevs.css';
@import './d-ico-symbol.css';
@import './d-base-input.css';
@import './d-base-toggle.css';

* {
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}
